body
{
    margin: 0px 0px 0px 0px;
    
}
#header h1
{
    margin : auto;
    
  
}
#header
{
    background-image:url(../img/WebArena3.png);
    margin : 0px 0px 0px 0px;
    background-color :black;
    background-size : 100%;
    height : 240px;
}
#header h1
{
    text-align: center;
}
nav
{
    //position: fixed;
        background-color: black;
    //float : left;
    
}
.button
{
    margin : 0px 0px 0px 0px;
    padding: 0;
    display: inline;
}
nav a
{
    width: 157.3px;
    
    display : inline-block;
    background: #1484cf;
    background-image: -webkit-linear-gradient(top, #ff0000, #750000);
    background-image: -moz-linear-gradient(top, #ff0000, #750000);
    background-image: -ms-linear-gradient(top, #ff0000, #750000);
    background-image: -o-linear-gradient(top, #ff0000, #750000);
    background-image: linear-gradient(to bottom, #ff0000, #750000);
    font-family: Arial;
    color:black;
    //color: #b08f0a;
    font-size: 20px;
    
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    //margin : 0;
    border: solid #b08f0a 3px;
    text-decoration: none;

}


nav a:hover
{
    color:white;
    background: #d10000;
  background-image: -webkit-linear-gradient(top, #d10000, #000000);
  background-image: -moz-linear-gradient(top, #d10000, #000000);
  background-image: -ms-linear-gradient(top, #d10000, #000000);
  background-image: -o-linear-gradient(top, #d10000, #000000);
  background-image: linear-gradient(to bottom, #d10000, #000000);
  text-decoration: none;
}
#footer
{
        text-align: center;
	color : black;
	margin : auto; 
	background-color : white; 
        //background-color: rgba(0,0,0,0.6);
        border : 5px solid #b08f0a;
        
}

#container
{
    margin-top: 0px;
    color : black;
    width : 1000px;
    margin : auto; 
    //background-color : white; 
}
html
{
    background-image : linear-gradient(to bottom,black,red);
}

tr, td
{
   color : black; 
   text-align: center;
   margin : 0;
   padding: 0;
    width: 6%;
     height: 6%;
   border: 3px solid #b08f0a;
   background-color: white;

}

#content
{
    //background-color: black;
    //height : 635px;
}
.Arenne {
    float : left;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding : 0;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
     width: 580px;
     height: 580px;
     border : 5px solid #b08f0a;
}
#commande
{
    color : black;
    text-align: center;
    width: 150px;
    height : 580px;
    margin-top: 40px;
    //margin-left:15px;
    margin-right:40px;
    float : left;
    //background-color: rgba(0,0,0,0.6);
    background-color: white;
    border : 5px solid #b08f0a;
}

#info_perso
{
    color : black;
    text-align:center;
    width: 150px;
    height: 580px;
    margin-top: 40px;
    margin-left:40px;
    //margin-right: 15px;
    float : left;
    //background-color: rgba(0,0,0,0.6);
    background-color: white;
    border : 5px solid #b08f0a;
}

#fenetre
{
    height: 680px;
}

#menu
{
    margin-top: 40px;
}

.avatar
{
    height : 140px;
    width: 140px;
}
    
section
{
    text-align : justify;

   margin-top:  40px; 
   width : 450px;
   background-color: white;
   border : 5px solid #b08f0a; 
   float: left;
   height : 520px;
   padding: 10px;
}

.left
{
    margin-right :40px;
}

.contenu
{
    height: 600px;
}



