body
{
    margin: 0px 0px 0px 0px;
}
#header h1
{
    margin : auto;
    
  
}
#header
{
    margin : 0px 0px 0px 0px;
    background-color : rgba(24,24,24,0.1);
    background-size : 100%;
    height : 240px;
}
#header h1
{
    text-align: center;
}
nav
{
    //position: fixed;
        background-color: grey;
    //float : left;
    
}
.button
{
    margin : 0px 0px 0px 0px;
    padding: 0;
    display: inline;
}
nav a
{
    width: 157.3px;
    
    display : inline-block;
    background: #1484cf;
    background-image: -webkit-linear-gradient(top, #1484cf, #0a2a3d);
    background-image: -moz-linear-gradient(top, #1484cf, #0a2a3d);
    background-image: -ms-linear-gradient(top, #1484cf, #0a2a3d);
    background-image: -o-linear-gradient(top, #1484cf, #0a2a3d);
    background-image: linear-gradient(to bottom, #1484cf, #0a2a3d);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    //margin : 0;
    border: solid #b08f0a 3px;
    text-decoration: none;

}


nav a:hover
{
    background: #4fa2d6;
  background-image: -webkit-linear-gradient(top, #4fa2d6, #274d66);
  background-image: -moz-linear-gradient(top, #4fa2d6, #274d66);
  background-image: -ms-linear-gradient(top, #4fa2d6, #274d66);
  background-image: -o-linear-gradient(top, #4fa2d6, #274d66);
  background-image: linear-gradient(to bottom, #4fa2d6, #274d66);
  text-decoration: none;
}
#footer
{
	color : black;
	margin : auto; 
	background-color : darkgrey; 
}

#container
{
    margin-top: 0px;
    color : black;
    width : 1000px;
    margin : auto; 
    background-color : white; 
}
html
{
    background-image : linear-gradient(to bottom, #1484cf, #0a2a3d);
}